@import '../../theme.scss';

.GridLayout {
  display: grid;

  margin: 0;
  padding: $gap;
  height: 100%;
  width: 100%;

  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: $gap;
  grid-row-gap: $gap;
  grid-template-rows: repeat(2, 1fr);

  // background: red;

  > .item {
    width: 100%;
    height: 100%;
  }
}
