@import '../theme.scss';

.App {
  display: flex;

  align-items: center;
  justify-content: center;

  // width and height set via JS

  background: $bg-color;

  > button {
    border: 0;
    background-color: $item-color;
    border-radius: 8px;
    padding: 4rem;
    font-size: 2rem;
    color: #fff;
  }

  > .ui {
    display: flex;
    flex-flow: column nowrap;

    height: 100%;
    width: 100%;

    background-color: $bg-color;

    > .flexStretch {
      flex: 1;
    }
  }

}
