@import '../theme.scss';

.SoundButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  cursor: pointer;
  user-select: none;
  pointer-events: auto;

  border: 0;
  border-radius: 8px;

  font-size: 7.5rem;

  background-color: $item-color;
  transition: background-color 100ms ease;
}
