@import './mixins.scss';

$bg-color: #3A4454;
$item-color: #53687E;
$item-hover-color: #7D869C;

$item-enabled-color: #489FB5;
$item-active-color: #45B8AE;
$nav-color: #468C98; // #798086;

$gap: 36px; // 36px

/*
https://coolors.co/3a4454-53687e-c0d6df-dbe9ee-312f2f
*/
